<div class="row">
  <div class="col-lg-12">
      <ol class="breadcrumb">
        <li><a href="#">Bangalore</a></li>
        <li><a href="#">Bangalore North</a></li>
        <li><a href="#">Yelahanka</a></li>
        <li class="active">GKLPS Yelahanka</li>
      </ol>
      <div class="row form-container">
        <div class="col-md-1"></div>
        <div class="col-md-9">
          <div class="form-heading heading-border"> Modify Details </div>

          <form class="form-horizontal" role="form">

            <div class="form-group">
              <label class="control-label col-sm-2" for="name">Name:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="name">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="address">Address:</label>
              <div class="col-sm-10">
                <textarea type="password" class="form-control" id="address" rows=3>
                </textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="pincode">Pincode:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="pincode">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="category">Category:</label>
              <div class="col-sm-10">
                <select class="form-control" id="category">
                  <option>Lower Primary School</option>
                  <option>Model Primary School</option>
                  <option>Higher Primary School</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="medium">Medium:</label>
              <div class="col-sm-10">
                <select class="form-control" id="medium">
                  <option>Kannada</option>
                  <option>Urdu</option>
                  <option>Tamil</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="mgmt">Mangament:</label>
              <div class="col-sm-10">
                <select class="form-control" id="mgmt">
                  <option>Government - State</option>
                  <option>Government - Central</option>
                  <option>Aided</option>
                  <option>Private</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="disecode">DISE Code:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="disecode">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-2"><button type="submit" class="btn btn-primary">Add Class</button></div>
      </div>
  </div>
</div>


