{
  'extends': 'airbnb/legacy',  
  'ecmaFeatures': {
  	'modules': true,
  	'objectLiteralShorthandMethods': true,
  	'arrowFunctions': true,
  	'defaultParams': true
  },
  'rules': {
  		'id-length': [2, {'min': 2, 'properties': 'never','exceptions': ['$','_', 'e']}],  		
  		'comma-dangle': 0,
  		'func-names': 0,
  		'spaced-comment': 1,
  		'no-console': 1,
  		'prefer-template': 1
    }
}