{
  "extends": "airbnb",
  "rules": {
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": "off",
    "react/require-default-props": "off",
    "react/forbid-prop-types": "off",
    "object-curly-newline": "off",
    "class-methods-use-this": "off"
  }
}
