/*-------------------------------------*/
/* FONT_FAMILIES */

// font-family: default: regular
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Reg-webfont.eot');
  src: url('../fonts/lato/Lato-Reg-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lato/Lato-Reg-webfont.woff') format('woff'),
       url('../fonts/lato/Lato-Reg-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// font-family: default: italic
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-RegIta-webfont.eot');
  src: url('../fonts/lato/Lato-RegIta-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lato/Lato-RegIta-webfont.woff') format('woff'),
       url('../fonts/lato/Lato-RegIta-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

// font-family: default: bold
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Bol-webfont.eot');
  src: url('../fonts/lato/Lato-Bol-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lato/Lato-Bol-webfont.woff') format('woff'),
       url('../fonts/lato/Lato-Bol-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

// font-family: default: light
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Lig-webfont.eot');
  src: url('../fonts/lato/Lato-Lig-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lato/Lato-Lig-webfont.woff') format('woff'),
       url('../fonts/lato/Lato-Lig-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/*-------------------------------------*/
// FONT BASE STYLES

$font-base-size: 16px;
$font-base-family: 'Lato', sans-serif;



//font family
.font-base-family, %font-base-family {
  font-family: $font-base-family;
}

//font-styles
.italic, %italic {
  font-style: italic;
}

.bold, %bold {
  font-weight: 700;
}

.font-light, %font-light {
  font-weight: 300;
}

.uppercase, %uppercase {
  text-transform: uppercase;
}

//font-sizing
.font-base-size, %font-base-size {
  font-size: $font-base-size;
}

@mixin font-base-size {
  font-size: $font-base-size;  
}

.font-small, %font-small {
  font-size: 90%;
}

@mixin font-small {
  font-size: 90%;  
}

.font-smaller, %font-smaller {
  font-size: 80%;
}

@mixin font-smaller {
  font-size: 80%;  
}

.font-smallest, %font-smallest {
  font-size: 70%;
}

@mixin font-smallest {
  font-size: 70%;  
}

.font-large, %font-large {
    font-size: 110%;
}

@mixin font-large {
  font-size: 110%;  
}

.font-larger, %font-larger {
    font-size: 120%;
}

@mixin font-larger {
  font-size: 120%;  
}

.font-largest, %font-largest {
  font-size: 130%;
}

@mixin font-largest {
  font-size: 130%;  
}

strong, b {
  @extend %bold; 
}

em, i {
  @extend %italic; 
}
