/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.form-heading {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #3891e3;
  font-size: 120%;
  padding-left: 10px;
}

.heading-border:after {
  content: '';
  display: block;
  width: 400px;
  height: 2px;
  background-color: #3891e3; }
