/* TYPOGRAPHY */

/*-------------------------------------*/
/* LINKS */

a {
  text-decoration: none;
  @extend %link-color;

  &:hover, &:focus, &:active {
    @extend %link-hover-color;
  }
  
  &:focus {
    outline: none;        
  }
}

// links: external 
.link-external {
  color: inherit;
  display: inline-block;
  @extend %transition-linear;

  &:after {
    content: "\f064";
    @extend %font-icon;
    font-size: 9px;
    @extend %white;
    background: $grey-steel;
    padding: ($base-spacing-sm)-2;
    margin: 0 $base-spacing-sm;
    line-height: 1;
    @extend %border-radius-circle;
    display: inline-block;
    text-decoration: none;
  }
}

.link-external:hover, .link-external:focus {
  text-decoration: underline;

  &:after {
    background: $link-hover-color;
  }
}


/*-------------------------------------*/
/* FONT_FAMILIES */

// font-family: default: regular
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Reg-webfont.eot');
  src: url('../fonts/lato/Lato-Reg-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lato/Lato-Reg-webfont.woff') format('woff'),
       url('../fonts/lato/Lato-Reg-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// font-family: default: italic
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-RegIta-webfont.eot');
  src: url('../fonts/lato/Lato-RegIta-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lato/Lato-RegIta-webfont.woff') format('woff'),
       url('../fonts/lato/Lato-RegIta-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

// font-family: default: bold
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Bol-webfont.eot');
  src: url('../fonts/lato/Lato-Bol-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lato/Lato-Bol-webfont.woff') format('woff'),
       url('../fonts/lato/Lato-Bol-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

// font-family: default: light
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Lig-webfont.eot');
  src: url('../fonts/lato/Lato-Lig-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lato/Lato-Lig-webfont.woff') format('woff'),
       url('../fonts/lato/Lato-Lig-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

//font family
.font-base-family, %font-base-family {
  font-family: $font-base-family;
}

//font-styles
.italic, %italic {
  font-style: italic;
}

.bold, %bold {
  font-weight: 700;
}

.font-light, %font-light {
  font-weight: 300;
}

.uppercase, %uppercase {
  text-transform: uppercase;
}

//font-sizing
.font-base-size, %font-base-size {
  font-size: $font-base-size;
}

@mixin font-base-size {
  font-size: $font-base-size;  
}

.font-small, %font-small {
  font-size: 90%;
}

@mixin font-small {
  font-size: 90%;  
}

.font-smaller, %font-smaller {
  font-size: 80%;
}

@mixin font-smaller {
  font-size: 80%;  
}

.font-smallest, %font-smallest {
  font-size: 70%;
}

@mixin font-smallest {
  font-size: 70%;  
}

.font-large, %font-large {
    font-size: 110%;
}

@mixin font-large {
  font-size: 110%;  
}

.font-larger, %font-larger {
    font-size: 120%;
}

@mixin font-larger {
  font-size: 120%;  
}

.font-largest, %font-largest {
  font-size: 130%;
}

@mixin font-largest {
  font-size: 130%;  
}

strong, b {
  @extend %bold; 
}

em, i {
  @extend %italic; 
}

h6, .h6, %h6 {
  font-size: 90%;
}

h5, .h5, %h5 {
  font-size: 120%;
}

h4, .h4, %h4 {
  font-size: 130%;
}

h3, .h3, %h3 {
  font-size: 140%;
}

h2, .h2, %h2 {
	font-size: 150%;
}

h1, .h1, %h1 {
	font-size: 170%;
}

h6, h5, h4, h3, h2, h1 {
  margin: 0 0 $base-spacing-mid 0;
}

/*-------------------------------------*/
/* HEADER: STRIP */

.header-strip {
  background: $purple-amethyst;
  @extend %white;
  padding: $base-spacing $base-spacing-lg;

  .heading-tiny-uppercase {
    @extend %white;
    margin: 0;
  }
}


sub, sup {
  font-size: 65%;
  position: relative;
  line-height: 0;
}

sup {
  top: -8px;
}

sub {
  bottom: -8px;
}

/*-------------------------------------*/
/* HEADINGS */

.heading-border, %heading-border {
  padding: 10px 0 20px 0;
  &:after {
  content: '';
  display: block;
  width: 400px;
  height: 2px;
  background-color: currentColor;
  }
}


/*-------------------------------------*/
/* TEXT-BORDERED */

.text-bordered {
  @extend %border-base;
  padding: $base-spacing $base-spacing-mid;
  @extend %border-radius-sm;

}


.heading-err {
  color: $pink-salmon;
}
.heading-err:before {
  content: "\f023";
  font-family: FontAwesome;
  color: $pink-salmon;
}


.heading-warn {
  color: $yellow-mild;
}
.heading-warn:before {
  content: "\f071";
  font-family: FontAwesome;
  color: $yellow-mild;
}
