<div class="application__flashes"></div>
<div class="application__flashes"></div>
<div class="application__main">
  <nav class="main__header navbar navbar-white navbar-fixed-top"></nav>  
  <div class="container-fluid main__schooltypes"></div>  
  <div id="treetoggler" class="main__treetoggler"></div>

  <div class="tab-content box-shadow main__tabContent" id="myTabContent">
    <div id="secondary-menu" class="main__secondaryMenu"></div>

    <div id="wrapper" class="main__wrapper">
      <div id="sidebar-wrapper" class="main__sidebar"></div>
      <div id="page-content-wrapper" class="main__content"></div>
    </div>
  </div>

</div>
<div class="application__overlay"></div>
