<div class="application__flashes"></div>
<div class="application__flashes"></div>
<div class="application__main">
  <nav class="main__header navbar navbar-white navbar-fixed-top"></nav>    
  <div id="treetoggler" class="main__treetoggler"></div>
<div id="navbar" class="main__navbar"></div>

    <div id="wrapper" class="main__wrapper">
      <div id="sidebar-wrapper" class="main__sidebar"></div>
      <div id="page-content-wrapper" class="main__content"></div>
    </div>
  </div>
  <div class="tab-content box-shadow main__tabContent" id="myTabContent">
</div>
<div class="application__overlay"></div>
